<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="LOGSTREAMS" class="com.malliina.logstreams.client.AkkaHttpAppender">
        <endpoint>${LOGSTREAMS_HOST:-logs.malliina.com}</endpoint>
        <secure>true</secure>
        <username>${LOGSTREAMS_USER:-boat}</username>
        <password>${LOGSTREAMS_PASS:-changeme}</password>
        <enabled>true</enabled>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/boat/boat.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="play" level="INFO"/>
    <logger name="application" level="INFO"/>
    <logger name="com" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGSTREAMS"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
