/* https://www.w3schools.com/howto/howto_css_modals.asp */

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  &.hidden {
    display: none;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 850px;

  > h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 16px 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  a {
    text-decoration: none;
  }
}

.close {
  color: #aaa;
  align-self: flex-end;
  font-size: 22px;
  font-weight: 700;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.badges-title {
  @media screen and (min-width: 540px) {
    text-align: center;
  }
}

.badges {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 540px) {
    flex-direction: row;
  }
}

.badge-ios {
  width: 200px;
  height: 61px;
  margin-top: 4px;
  display: inline-block;
  overflow: hidden;
  background: url("../img/badge-appstore-lrg.svg") no-repeat center;
  background-size: 80%;
}

.badge-android {
  width: 200px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: url("../img/google-play-badge.png") no-repeat center;
  background-size: contain;
}

.modal-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.language-form {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}
