.form-title {
  margin-bottom: 0.3rem;

  > label {
    font-weight: 700;
    font-size: 1rem;
  }
}

.input-title {
  display: inline-block;
}

.edit-icon {
  cursor: pointer;

  &.tight {
    margin: 0;
  }
}

.text-editable {
  margin-right: 16px;
}
