#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;

  &.auth {
    @media only screen and (min-width: 1000px) {
      top: var(--navbar-height);
    }
  }

  &.routes {
    @media only screen and (min-width: 1000px) {
      top: var(--navbar-routes-height);

      &:not(.auth) {
        top: var(--navbar-height);
      }
    }
  }
}

.boat-icon {
  position: absolute;
  z-index: 1000;
  left: 10px;
  width: 26px;
  height: 26px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 6px;
  background-color: white;
  cursor: pointer;
  opacity: 0.4;

  &.question {
    top: 10px;
  }

  &.user {
    top: 47px;
  }
}

.boat-popup {
  & td {
    padding-bottom: 8px;
  }

  & tr:last-child td {
    padding-bottom: 0;
  }
}

.popup-title {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 0.3rem;
}

.popup-label {
  font-weight: 300;
  padding-right: 10px;
  white-space: nowrap;
}

.mapboxgl-popup-content {
  padding: 10px;
}

.popup-boat, .popup-device {
  > div.mapboxgl-popup-content {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.marker-top-speed {
  color: gold;
  cursor: pointer;
}

.marker {
  background-size: cover;
  width: 16px;
  height: 16px;

  &.start {
    background-image: url("../img/flag.svg");
  }

  &.finish {
    background-image: url("../img/flag-checkered.svg");
  }
}

.popup-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
