.navbar {
  display: none;
  background-color: #DEDEDE;
  flex-direction: row;

  @media only screen and (min-width: 1000px) {
    display: flex;
  }

  &.icon {
  }
}

.icon-link {
  color: var(--default-color);
  margin: 0 16px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;

  &.framed {
    background-size: 75% 75%;
  }

  &.history {
    background-image: url("../img/history.svg");
  }

  &.list {
    background-image: url("../img/list.svg");
  }

  &.chart-area {
    background-image: url("../img/chart-area.svg");
  }

  &.question {
    background-image: url("../img/question.svg");
  }

  &.user {
    background-image: url("../img/user.svg");
  }

  &:hover {
    text-decoration: none;
  }
}

.navbar-boat {
  background-color: skyblue !important;
  height: var(--navbar-height);
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-text {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: var(--navbar-padding) 0;
  margin: 0 16px;
  line-height: 1;

  &.distance {
    max-width: 130px;
  }

  &.top-speed {
    max-width: 170px;
  }

  &.water-temp {
    max-width: 150px;
  }

  &.duration {
    max-width: 150px;
  }

  &.title {
    display: none;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.tight {
    margin: 0;
  }

  &.show {
    @media screen and (min-width: 1400px) {
      display: block;
      max-width: 300px;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.question-nav {
  cursor: pointer;
  opacity: 0.4;
  margin-left: auto;
}

.routes-container {
  flex-direction: row;
  align-items: center;

  background-color: #87cece;
  display: none;

  &.enabled {
    height: 32px;
    display: flex;
    padding: .5rem 1rem;
  }
}
