.row-sm {
  background-color: #f0f3f6;

  > td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

.year-row {
  cursor: pointer;
}

.table {
  .table-button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
