* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@tablets: ~"only screen and (min-width: 700px)";

@navbar-height: 34px;
@navbar-padding: 8px;

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;

  &.auth {
    @media @tablets {
      top: @navbar-height;
    }
  }
}

.navbar {
  display: none;
  height: @navbar-height;
  background-color: #DEDEDE;
  flex-direction: row;

  @media @tablets {
    display: flex;
  }

  &.icon {
  }
}

.nav-text {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: @navbar-padding 16px;
  line-height: 1;

  &.distance {
    width: 130px;
  }
}

.nav-icon {
  padding: 7px 16px;
}

.question-nav {
  cursor: pointer;
  opacity: 0.4;
  margin-left: auto;
}

.boat-icon {
  position: absolute;
  z-index: 1000;
  left: 10px;
  width: 30px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 6px;
  background-color: white;
  cursor: pointer;
  opacity: 0.4;

  &.question {
    top: 10px;
  }

  &.person {
    top: 60px;
  }
}

